.academic {
    padding: 2rem;
    background: #EAF2FD;
}

@media screen and (min-width:768px) {
    .academic {
        padding: 2rem;
        background: #EAF2FD;
    }
}

@media screen and (min-width:1440px) {
    .academic {
        padding: 5.125rem;
        background: #EAF2FD;
    }
}
