.title__subsection {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    padding: 16px;
}

@media screen and (min-width:768px) {
    .title__subsection {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #464646;
        padding: 8px 0 8px 0;
    }
    
}

@media screen and (min-width:1440px) {
    .title__subsection {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #464646;
        padding: 24px 0 24px 0;
    }
    
}


