.menu__list {
    display: none;
}

@media screen and (min-width:1024px) {
    .menu__list {
        display: block;
        display: flex;
        align-items: center;
        padding-right: 4rem;
        
    }
    
}
@media screen and (min-width:1440px) {
    .menu__list {
        display: block;
        display: flex;
        align-items: center;
        padding-right: 9.5rem;
        
    }
    
}