.menu__header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
@media screen and (min-width:768px) {
    .menu__header {
        padding-left: 2rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .menu__header {
        padding-left: 4rem;
    }   
}

@media screen and (min-width: 1440px) {
    .menu__header {
        padding-left: 9.5rem;
    }   
}