.menu__list__item__contato {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* Preto/100% */

    color: #464646;


}

@media screen and (min-width:768px) {
    .menu__list__item__contato {
        font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #464646;
    }
}

@media screen and (min-width: 1440px) {
    .menu__list__item__contato {
        display: none;
    }
    
}