.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

.container {
    background-color: #F5F5F5;
    backdrop-filter: blur(5px);
    place-items: center;
    z-index: 2;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #464646;
}

/* menu hamburguesa */
.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.menu__img {
    display: block;
    /* width: 36px; */
    color: #464646;
    font-size: 36px;
}

.menu__img:hover {
    color: #c31e3d;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
    /* flex-wrap: wrap-reverse; */
}

.menu__link > .menu__link--icon {
    order: 0;
}

.menu__link--nombre {
    order:1;
}



.menu__link:hover {
    color: #c31e3d;
}

/* .menu__link i {
    display: none;
} */

@media screen and (min-width:768px) {
    .menu {
        padding: 1rem 0;
    }

    .menu__hamburguer {
        padding: 0 2rem;
        
    }

}

@media screen and (min-width: 1024px) {
    .menu {
        padding: 2rem 0rem;
    }

    .menu__hamburguer {
        display: none;
    }

   .menu__link {
        color: #464646;
        text-decoration: none;
        align-items: center;
        padding: 0;
        font-family: 'Raleway';
        font-style: normal;
        font: size 1rem;
        line-height: 1.1875rem;
    } 

}

@media screen and (min-width: 1440px) {
    .menu {
        padding: 2rem 0rem;
    }
}