.experience__img {
    width: 100%;
}

@media screen and (min-width:1440px) {
    .experience__img {
        width: 752px;
        height: 406px;
    }

    .experience__img--imagen1 {
        float: left;
        padding-right: 1rem;
    }

    .experience__img--imagen2 {
        float: right;
        padding-left: 1rem;
    }

    
}