.experience__button--repo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 0.75rem 1rem;
}

@media screen and (min-width:1440px) {
    .experience__button--repo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #2A7AE4;
    }
}