.experience__img {
    width: 100%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media screen and (min-width:1440px) {
    .experience__img {
        width: 752px;
        height: 406px;
    }

    .experience__img--imagen1 {
        float: left;
        margin-right: 1rem;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

    .experience__img--imagen2 {
        float: right;
        margin-left: 1rem;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

    
}