@media screen and (min-width:1440px) {
    .experience__info {
        display: flex;
        flex-direction: column;
        padding-top: 140px;
        padding-bottom: 140px;
        justify-content: center;
        
    } 
}