.experience__section__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    text-align: center;
    color: #464646;
}

@media screen and (min-width:1024px) {
    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
        text-align: center;
        color: #464646;
        margin-bottom: 1rem;
    }


}

@media screen and (min-width: 1440px) {
    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
        text-align: center;
        color: #464646;
        margin-bottom: -2rem;
    }

}