.experience__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #464646;
    margin-top: 1rem;
}

@media screen and (min-width: 1440px) {
    .experience__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
        color: #464646;
        text-align: center;
    }
}

