.experience__box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

@media screen and (min-width:1440px) {
    .experience__box {
        display: block;
        align-items: center;
        margin-top: 4rem;
        
        
    }
}