.experience__button--demo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #FFFFFF;
    padding: 0.75rem 1rem;
    background: #2A7AE4;
    border: none;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 40%)
    
}

@media screen and (min-width:1440px) {
    .experience__button--demo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #FFFFFF;
    }
    
}