.skills {
    padding: 1rem;
    background: #E5E5E5;
}

@media screen and (min-width:768px) {
    .skills {
        padding: 2rem;
        background: #E5E5E5;
    }
    
}

@media screen and (min-width: 1024px) {
    .skills {
        padding:6rem 4rem;
    }
}
@media screen and (min-width: 1440px) {
    .skills {
        padding:6rem 9.5rem;
    }
}