.about__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: #464646;
    padding-bottom: 0.5rem;
}

@media screen and (min-width:768px) {
    .about__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 1.625rem;
        color: #464646;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-width:1440px) {
    .about__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
        color: #464646;
        padding-bottom: 0.5rem;
    }
    
}



