.formcontact__img {
    display: none;
}

@media screen and (min-width:1440px) {
    .formcontact__img {
        display: block;
        float: left;
        margin-right: 1rem;
        border-radius: 4px;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
    }
}