.hobbies__box {
    width: 156px;
    height: 118px;
    margin-top: 2rem;
    background-color: #FFFFFF;
    align-items: flex-end;
    display: flex;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media screen and (min-width:768px) {
    .hobbies__box {
        width: 224px;
        height: 118px;
        margin-top: 2rem;
        background-color: #FFFFFF;
        align-items: flex-end;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .hobbies__box {
        width: 23%;
        height: 174px;
        margin-top: 2rem;
        background-color: #FFFFFF;
        align-items: flex-end;
        display: flex;
        margin: 3.6% 1% 0 1%;

    }
    
}
@media screen and (min-width: 1440px) {
    .hobbies__box {
        width: 176px;
        height: 174px;
        margin-top: 2rem;
        background-color: #FFFFFF;
        align-items: flex-end;
        display: flex;

    }
    
}